.A {
   color: blueviolet;
   text-align: center;
}
.text1 {
   background-color: aqua;
   text-align: center;
}
.text2 {
   color: black;
   background-color: yellow;

}
.text3 {
   color: white;
   background-color: black;
}
.text4 {
   text-align: center;
   border-radius: 10px 10px 10px 10px;
   background-color: red;
}
.text5 {
   color: black;
   background-color: yellow;
   border-radius: 10px 10px 10px 10px;
}
.text6 {
   color: white;
}
.text7 {
   text-align: center;
}
.text8 {
   color: white;
   background-color: black;
   border-radius: 10px 10px 10px 10px;
}
.text9 {
   color: white;
   background-color: red;
   border-radius: 10px 10px 10px 10px;
}
.text10 {
   color: white;
   background-color: green;
   border-radius: 10px 10px 10px 10px;
}
.a {
   text-align: center;
   background-color: black;
}
.b {
   color: cyan;
}
.c {
   color: white;
   background-color: blue;
}
.d {
   color: white;
   background-color: orange;
   font-size: 30px;
}
.f {
   text-align: center;
}

